.img-infl {
  width: 230px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.scoreR {
  padding-left: 3rem;
  font-size: 150%;
}

.ratings {
  /* margin-left: 0rem; */
  font-weight: 600;
}

.star {
  color: #ffc107;
  /* color: rgb(231, 198, 17); */
}

.credibilityR {
  font-size: 130%;
  padding-left: 0rem;
}

#ratings-span {
  font-size: 80%;
}

.socialType {
  font-size: 60%;
}

.img-description {
  width: 125px;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.description {
  font-size: 100%;
}

hr {
  height:2px;
  border-width:0;
  /* background-color:#00A4BD; */
  /* background-color:black; */
  background-color: darkgray;
}