.lds-dual-ring {
  /* display: inline-block; */
  margin: 200px auto 0 auto;
  width: 80px;
  height: 80px;
  text-align: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #007bff;
  border-color: #007bff transparent #007bff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* .LoadingSpinner {
  margin: 200px auto 0 auto;
  color: tomato;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
} */